body {
    background-color: black;
}

* {
    color: white;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid orange;
}
.button:active {
    background-color: orange;
    color: white;
    box-shadow: 2px 2px 2px orange;
}